node_modules/
*.log
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
application/sessions/
dist/
application/logs/*.php
npm-debug.log*
application/tests/
phpunit.phar.asc
*.sublime-workspace
sftp-config.json

